<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header.html :: head"></head>
<body>

<div th:replace="navbar.html :: copy"></div>

<div class="container">
    <h4>Your basket:</h4><br>
    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="cartitem,iterStat : ${cartItems}">
            <div class="card" id="" th:attr="id='product-'+${cartitem.getProduct().getId()}">
                <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${cartitem.getProduct().getId()} + '.jpg'" alt="" />
                <div class="card-header">
                    <h4 class="card-title" th:text="${cartitem.getProduct().getName()}">Product name</h4>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <h6 class="lead" style="display: inline">quantity: </h6>
                        <h6 style="display: inline" id="lel" th:text="${cartitem.getQuantity()}"
                            th:attr="id='product-q-'+${cartitem.getProduct().getId()}">1</h6>
                    </div>
                    <br>
                    <div class="card-text">
                        <h6 class="lead" style="display: inline">price: </h6>
                        <h6 style="display: inline" th:text="${cartitem.getSubTotalPrice()}" id=" "
                            th:attr="id='product-sub-'+${cartitem.getProduct().getId()}">Subtotal Price</h6>
                        <h6 class="lead" style="display: inline">USD</h6>
                    </div>
                    <br>
                    <a class="btn btn-success" href='javascript:void();' onclick=""
                       th:onclick="'modifyCart(\'remove\',\'' + ${cartitem.getProduct().getId()} + '\');'">Remove from
                        cart</a>
                </div>
            </div>
        </div>
    </div><br>
    <div class="card">
        <div class="card-title">Total Price</div>
        <h4 th:text="${totalPrice}" id="total-price">total price</h4>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>